* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
  font-weight: 100;
  overflow: hidden;
}

.nav {
  width: 20rem;
  height: 46.5rem;
  background-color: rgb(243, 243, 243);
  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.nav__header__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  background-image: url("../Img/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1em;
}
.nav__header input {
  margin-top: 15px;
  width: 18em;
  padding: 0.5em;
  margin-left: 1em;
  outline: none;
  box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px 5px 5px 5px;
}
.nav__ul {
  list-style: none;
  margin-top: 5px;
}
.nav__ul--li {
  margin-top: 1em;
  width: 90%;
  height: 2em;
  display: flex;
  align-items: center;
  padding-left: 1em;
  cursor: pointer;
}
.nav__ul--li:hover {
  background: rgb(234, 234, 234);
}
.nav__div {
  display: flex;
  align-items: center;
  margin: 105% 0%;
  width: 90%;
  cursor: pointer;
  padding-left: 1em;
}
.nav__div h1 {
  padding-right: 5px;
}
.nav__div:hover {
  background: rgb(234, 234, 234);
}

.section {
  width: 78.4%;
  height: 44rem;
  margin-left: 20.6rem;
  position: absolute;
  top: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 0px;
  border: 1px solid rgb(242, 242, 242);
  background: linear-gradient(rgba(51, 120, 127, 0.75), rgba(241, 221, 214, 0.75));
}
.section h1 {
  position: absolute;
  color: #fff;
  margin-bottom: 50%;
  margin-right: 85%;
  font-weight: 100;
}
.section__p {
  position: absolute;
  color: #fff;
  margin-bottom: 45%;
  margin-right: 77%;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}
.section__div {
  width: 25%;
  height: 40%;
  border: 1px solid transparent;
  background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5));
  text-align: center;
  border-radius: 5%;
}
.section__div img {
  padding-top: 1em;
}
.section__div h2 {
  padding-top: 1em;
  text-align: center;
  color: #fff;
}
.section__div p {
  padding-top: 1em;
  color: #fff;
}
.section input {
  position: absolute;
  margin-top: 35rem;
  padding: 1em;
  width: 80%;
  opacity: 0.9;
  background-color: rgb(242, 242, 242);
  outline: none;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px 5px 5px 5px;
}
.section--div {
  position: absolute;
  margin-left: 85%;
  margin-bottom: 50%;
  opacity: 0.7;
  border-radius: 10%;
  background-color: rgb(242, 242, 242);
  text-align: center;
  cursor: pointer;
}
.section--div img {
  width: 80%;
}
.section h5 {
  position: absolute;
  width: 5rem;
  height: 1.5rem;
  background-color: rgb(242, 242, 242);
  opacity: 0.7;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 8px 8px;
  margin-left: 85%;
  margin-bottom: 55.5%;
  visibility: hidden;
  transition: 0.5 all ease-in-out;
}
.section--div:hover + h5, .section--div:hover {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=--Panel.css.map */
