@use 'MixinFunc';

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: rgb(243, 243, 243);
    font-weight: 100;
    overflow: hidden;

    @media (max-width:700px) {
        .nav {
            visibility: hidden;
            opacity: 0;
            transition: .5s;
            height: 0em;
            .close{
                position: relative;
                margin-left: 20em;
                visibility: visible;
                opacity: 1;
            }

            .data{
                position: absolute;
                margin: 10% 0;
            }
        }
        .showNav{
            position: relative;
            visibility: visible;
            opacity: 1;
            height: 100.5rem;
        }

        .section {
            position: relative;
            width: 100%;
            right: 18.9rem;
            transition: .5s;
            h1 {
                width: 25%;
                position: absolute;
                font-size: 21px;
                padding-left: 1.8em;
                margin-bottom: 25em;
            }

            .p {
                position: absolute;
                bottom: 10em;
                width: 48%;
                left: 1.1em;
                bottom: 23em;
            }

            .div {
                margin-top: 4em;
                width: 90%;
            }

            .bom {
                position: absolute;
                bottom: 22em;
            }

            input {
                border-radius: 30px 30px 30px 30px;
            }

            .menu {
                position: absolute;
                right: 24.2em;
                margin-bottom: 36em;
                visibility: visible;
                opacity: 1;
                display: flex;

            }

            #miLista {
                width: 80%;
                height: 70%;
                max-height: 70%;
                position: absolute;
                margin-right: 7.2rem;
                margin-bottom: .5rem;
                margin: 0 auto;
            }

            .radio {
                position: relative;
                width: 6%;
                height: 40%;
                border-radius: 50%;
                border: 1px solid #000;
                bottom: 4.7rem;
                right: 1.6rem;
                cursor: pointer;
                @include MixinFunc.create-flexbox(center);
            }

            .h5 {
                position: absolute;
                bottom: 30.5em;
                font-size: 12px;
                right: 2em;
                display: none;
                text-align: center;
                padding-top: .2em;
            }

            .sugerencias {
                position: absolute;
                width: 55%;
                height: 20%;
                border: 1px solid transparent;
                background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5));
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                text-align: center;
                border-radius: 5%;
                visibility: hidden;
                opacity: 0;
                transition: all .5s;
                transform: scale(0.5s);
                margin-bottom: 20rem;

                img {
                    padding-top: .5em;
                }

                h3 {
                    padding-bottom: 1em;
                    color: #fff;
                    font-size: 14px;
                }
            }
            .showS {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.nav {
    width: 20rem;
    height: 46.5rem;
    background-color: rgb(243, 243, 243);
    padding-left: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    position: absolute;
    
    &__data {
        position: absolute;
        width: 50%;
        top: 1.2rem;
        left: 5.5rem;
        padding: .1em;
    }

    &__header {
        &__img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #000;
            background-image: url("../Img/maxresdefault.jpg");
            @include MixinFunc.arreglar-imagen();
            margin-left: 1em;


        }

        input {
            margin-top: 15px;
            width: 18em;
            padding: .5em;
            margin-left: 1em;
            outline: none;
            box-shadow: 0.5px 1px 1px rgb(0, 0, 0, 0.3);
            opacity: 0.80;
            border: 1px solid rgb(199, 199, 199);
            border-radius: 5px 5px 5px 5px;

        }
    }

    &__ul {
        list-style: none;
        margin-top: 5px;

        &--li {
            margin-top: 1em;
            width: 90%;
            height: 2em;
            display: flex;
            align-items: center;
            padding-left: 1em;
            cursor: pointer;
        }

        &--li:hover {
            background: rgb(234, 234, 234);
        }
    }

    &__div {
        display: flex;
        align-items: center;
        margin: 85% 0%;
        width: 90%;
        cursor: pointer;
        padding-left: 1em;

        h1 {
            padding-right: 5px;
        }
    }

    &__div:hover {
        background: rgb(234, 234, 234);
    }
    .close{
        visibility: hidden;
        opacity: 0;
    }
}

.section {
    width: 77.9%;
    height: 39.5rem;
    margin-left: 19rem;
    position: absolute;
    top: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 0px;
    border: 1px solid rgb(242, 242, 242);
    background: linear-gradient(rgb(51, 120, 127, 0.75), rgb(241, 221, 214, 0.75));
    
  
    h1 {
        position: absolute;
        color: #fff;
        margin-bottom: 50%;
        margin-right: 85%;
        font-weight: 100;
    }

    &__p {
        position: absolute;
        color: #fff;
        margin-bottom: 45%;
        margin-right: 73.2%;
        font-size: 15px;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .show {
        visibility: hidden;
        opacity: 0;
    }

    &__div {
        width: 25%;
        height: 40%;
        border: 1px solid transparent;
        background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5));
        text-align: center;
        border-radius: 5%;

        img {
            padding-top: 1em;
        }

        h2 {
            padding-top: 1em;
            text-align: center;
            color: #fff;
            font-size: 21px;
        }

        p {
            padding-top: 1em;
            color: #fff;
            font-size: 14px;
        }
    }

    input {
        position: absolute;
        margin-top: 32rem;
        padding: 1em;
        width: 80%;
        opacity: 0.90;
        background-color: rgb(242, 242, 242);
        outline: none;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 5px 5px 5px 5px;
    }

    &--div {
        position: absolute;
        margin-left: 85%;
        margin-bottom: 50%;
        opacity: 0.70;
        border-radius: 10%;
        background-color: rgb(242, 242, 242);
        text-align: center;
        cursor: pointer;

        img {
            width: 80%;
        }
    }

    h5 {
        position: absolute;
        width: 6rem;
        height: 1.5rem;
        background-color: rgb(242, 242, 242);
        opacity: 0.70;
        font-weight: 100;
        @include MixinFunc.create-flexbox(center);
        border-radius: 8px 8px 8px 8px;
        margin-left: 85%;
        margin-bottom: 55.5%;
        visibility: hidden;
        transition: 0.5 all ease-in-out;

    }

    &--div:hover+h5,
    &--div:hover {
        visibility: visible;
        opacity: 1;
    }

    #miLista {
        width: 80%;
        height: 70%;
        max-height: 70%;
        position: absolute;
        margin-right: 7.2rem;
        margin-bottom: .5rem;
    }

    @for $iterador from 0 through 9 {
        .li#{$iterador} {
            list-style: none;
            width: 100%;
            margin-top: 3px;
            height: 2.5em;
            background-color: rgb(236, 240, 241);
            border-radius: 3px 3px 3px 3px;
            padding-left: 2em;
            font-size: 16px;
            padding-right: 1.5em;
        }
    }

    @for $iterador from 0 through 9 {
        .img#{$iterador} {
            position: relative;
            margin-left: 97%;
            bottom: 1.3em;
            cursor: pointer;
        }
    }

    h6 {
        position: relative;
        bottom: 2.5rem;
        font-weight: 100;
    }

    .radio {
        position: relative;
        width: 2%;
        height: 40%;
        border-radius: 50%;
        border: 1px solid #000;
        bottom: 4.7rem;
        right: 1.6rem;
        cursor: pointer;
        @include MixinFunc.create-flexbox(center);
    }

    .changeColor::after {
        background-color: rgb(105, 118, 130);
        border: .5px solid #000;
        content: '✓';
        border: 0px;
        @include MixinFunc.create-flexbox(center);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: #fff;
        font-size: 12px;
    }

    .sugerencias {
        position: absolute;
        width: 25%;
        height: 20%;
        border: 1px solid transparent;
        background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5));
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        border-radius: 5%;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
        transform: scale(0.5s);
        margin-bottom: 30rem;

        img {
            padding-top: .5em;
        }

        h3 {
            color: #fff;
            font-size: 14px;
        }
    }

    .showS {
        visibility: visible;
        opacity: 1;
    }

    .menu {
        visibility: hidden;
        opacity: 0;
    }

    
}