<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Area</title>
    <link rel="stylesheet" href="../Css/--Panel.css">
    <link rel="icon" href="../Icons/comprobado.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class = "nav">
        <div class = "close">
            <img src="../Icons/cerrar.png" alt="">
        </div>
        <div class = "nav__data data"></div>
        <header class="nav__header header">
            <div class = "nav__header__img"></div>
            <input type="text" name="" id="" class = "" placeholder="Buscar">
        </header>
        <ul class="nav__ul">
            <li class = "nav__ul--li">Mi dia</li>
            <li class = "nav__ul--li">Importante</li>
            <li class = "nav__ul--li">Planeado</li>
            <li class = "nav__ul--li">Asignadas a mi usuario</li>
            <li class = "nav__ul--li">Tareas</li>
        </ul>
        <div class = "nav__div"><h1>+</h1>Nuava lista</div>
    </nav>
    <section class = "section">
        <div class = "menu">
            <img src="../Icons/menu.png" alt="">
        </div>
        <h1>Mi día</h1>
        <div class = "section__div div">
            <img src="../Icons/calendario.png" alt="image not available">
            <h2>Concéntrate en tu dia</h2>
            <p>Termina tus tareas con una lista que se actualiza todos los dias</p>
        </div>
        <input type="text" name="" id="input" placeholder="Agregar una tarea" class = "input">
        <div class = "section--div bom"><img src="../Icons/bombilla.png" alt=""></div>
        <h5 class = "h5">Sugerencias</h5>
        <p class = "section__p p"></p>
        <ul id="miLista"></ul>
        <div class = "sugerencias">
            <img src="../Icons/idea.png" alt="">
            <h3 class = "sug"></h3>
        </div>
    </section>
    <script src = "../Controller/panel.js"></script>
</body>
</html>