<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="icon" href="../Icons/documento.png">
    <link rel="stylesheet" href="../Css/--Sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <main class="main">
        <h1>Registrate</h1>
        <form action="" class="main__form">
            <div class="main__form--inputs">
                <input name="name" type="text" class="main__form--inputs--action name" autocomplete="off">
                <label for="name" class="main__form--inputs--action-label-1">
                    <span class="main__form--inputs--action--label--span-1 name">
                        Nombre
                    </span>
                </label>
                <input type="text" class="main__form--inputs--action lastName" autocomplete="off">
                <label class="main__form--inputs--action-label-2">
                    <span class="main__form--inputs--action--label--span-2">
                        Apellido
                    </span>
                </label>
            </div>
            <div class="main__form--inputs--div">
                <input type="text" class="main__form--inputs--div--action email" autocomplete="off" >
                <label for="name" class="main__form--inputs--div--action-label-1">
                    <span class="main__form--inputs--action--div--action-label-span-1">
                        Correo *
                    </span>
                </label>
                <input type="password" class="main__form--inputs--div--action pass" id = "pass" autocomplete="off">
                <label for="name" class="main__form--inputs--div--action-label-2">
                    <span class="main__form--inputs--action--div--action-label-span-2">
                        Contraseña *
                    </span>
                </label>
            </div>

            <div class = main--buttons>
                <button class = "btton" type="submit">Registrarse</button>
                <a href="sign-in.html">Inciar Sesion</a>
            </div>
        </form>
    </main>
<script src = "../Controller/datos.js"></script>
</body>

</html>