<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="icon" href="../Icons/documento.png">
    <link rel="stylesheet" href="../Css/--Sign-in.css">
</head>

<body>
    <main class="main">
        <h1>Inicia Sesion</h1>
        <form action="" class="main__form">
            <div class="main__form--inputs--div">
                <input type="text" class="main__form--inputs--div--action email" autocomplete="off" >
                <label for="name" class="main__form--inputs--div--action-label-1">
                    <span class="main__form--inputs--action--div--action-label-span-1">
                        Correo *
                    </span>
                </label>
                <input type="password" class="main__form--inputs--div--action pass" id = "pass" autocomplete="off">
                <label for="name" class="main__form--inputs--div--action-label-2">
                    <span class="main__form--inputs--action--div--action-label-span-2">
                        Contraseña *
                    </span>
                </label>
            </div>

            <div class = main--buttons>
                <button class = "btton"  type="button">Entrar</button>
            </div>
        </form>
    </main>
<script src = "../Controller/sign-in.js"></script>
</body>

</html>