<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="icon" href="../Icons/documento.png">
    <link rel="stylesheet" href="../Css/--Sign-up.css">
</head>

<body>
    <main class="main">
        <h1>Registrate</h1>
        <form action="" class="main__form">
            <div class="main__form--inputs">
                <input name="name" type="text" class="main__form--inputs--action" autocomplete="off">
                <label for="name" class="main__form--inputs--action-label-1">
                    <span class="main__form--inputs--action--label--span-1">
                        Nombre
                    </span>
                </label>
                <input type="text" class="main__form--inputs--action" autocomplete="off">
                <label class="main__form--inputs--action-label-2">
                    <span class="main__form--inputs--action--label--span-2">
                        Apellido
                    </span>
                </label>
            </div>
            <div class="main__form--inputs--div">
                <input type="text" class="main__form--inputs--div--action">
                <label for="name" class="main__form--inputs--div--action-label-1">
                    <span class="main__form--inputs--action--div--action-label-span-1">
                        Correo *
                    </span>
                </label>
                <input type="text" class="main__form--inputs--div--action">
                <label for="name" class="main__form--inputs--div--action-label-2">
                    <span class="main__form--inputs--action--div--action-label-span-2">
                        Contraseña *
                    </span>
                </label>
            </div>

            <div class = main--buttons>
                <button>Registrarse</button>
                <h5>¡Gracias por registrarse!</h5>
            </div>
        </form>
    </main>

</body>

</html>